<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

    <!-- style -->
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
</head>
<body>
    
    <div id='app' class='container'>

        <!-- Aside -->
        <aside>
            <div class='user' v-model='user'>
                <div class='main-user'>
                    <img class='image' :src="'./img/avatar'+ user.avatar +'.jpg'" alt="">
                    <span>{{user.name}}</span>
                </div>
                <div class='icons'>
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>                
            </div>
            

            <div class='notification'>

                <i class="fas fa-bell-slash"></i>
                <div class='notifice'>            
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche dekstop</a>
                </div> 
            </div>

            <div class='search'>
                <i class="fas fa-search"></i>
                <input type="text" placeholder='Cerca o inizia una nuova chat'>
            </div>
             

            <ul class='contacts'>
                <li @click="contactActive = index" 
                v-for='(contacts, index) in contacts'>
                    <img class='image ':src="'./img/avatar' + contacts.avatar + '.jpg'" alt="">
                    <p>{{contacts.name}}</p>
                </li>
            </ul>

        </aside>

        <!-- Chat -->
        <main>
            <!-- Section Header -->
            <section class='sec-header' v-model='contacts'>
                <div class='chat-user'>
                    <img class='image' :src="`./img/avatar${contacts[contactActive].avatar}.jpg`" alt="">
                    <div class="user-name">
                        <p>
                            {{contacts[contactActive].name}}
                            <small>Ultimo accesso oggi alle 10.35</small>
                        </p>
                    
                </div>

                <div class='icons'>
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>   
            </section>

            <!-- Section chat -->
            <section class='sec-content'>
                <div class='container-chat' v-for='message in contacts[contactActive].messages'>

                    <div :class="message.status == 'sent' ? 'received' : 'sent'">
                        {{message.message}}
                        {{message.date}}
                    </div>
                    
                </div>

                

            </section>

            <!-- Section footer -->
            <section class='sec-footer'>
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </section>
        </main>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>