* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, 
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
    display: flex;
}

/* ASIDE */
aside {
    flex-basis: 35%;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #eeeeee;    
}

.user .main-user {
    display: flex;
    align-items: center;
} 

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icons i{
   margin-left: 10px;
   color: #b7b7b7;
   font-size: 15px;
}

/* Notifice */
.notification {
    background: #63E1F4;
    padding: 10px;
    display: flex;
}

.notification i {
    color: #63E1F4;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}

.notifice {
    flex-direction: column;
    margin-left: 10px;
}

.notifice p {
    font-size: 13px;
}

.notifice a {
    font-size: 11px;
}


/* input search */
.search {
    background-color: #f7f7f7;
    position: relative;
}

.search i {
    position: absolute;
    top: 13px;
    left: 30px;
    font-size: 12px;
    color:#b5b9bb;
    
}

.search input {
    width: 98%;
    margin: 7px 4px;
    background: #fff;
    padding: 6px;
    border-radius: 4px;
    border:aliceblue;
    color:#b5b3b3;
    padding-left: 60px;
    font-size: 10px;
}


/* contacts */
.contacts li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.contacts li:hover {
    background: #cecece;
}

.contacts p {
    display: inline-block;
    margin-left: 10px;
}

/* CHAT MAIN CONTENT */
main {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.sec-header,
.sec-footer {
    background: #eeeeee;
    border-left: 1px solid #cece;
}

.sec-header {
    display: flex;
    justify-content: space-between;    
    padding: 5px;    
}

.chat-user {
    display: flex;
}

.user-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat-user small {
    display: block;
    font-size: 10px;
}


/* section chat */
.sec-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-image: url('./img/mine.jpg');
} 

.container-chat {
    display: flex;
    flex-direction: column;
}

.sent,
.received {
    width: 35%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sent {
    margin-right: 50px;
    background-color: #cbfbb3;    
    align-self: flex-end;
}

.received {
    margin-left: 50px;
    background-color: #ffffff;
    align-self: flex-start;
}


.container-chat small {
    color: #b7b7b7; 
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    align-items: flex-end;
}

.container-chat p {
    font-size: 12px;
    margin: 5px 0;
    align-self: center;
}


/* section footer */
.sec-footer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.sec-footer i {
   margin: 0 11px;
   color: #777777;
   font-size: 15px;
   align-self: center;
   padding: 0px 10px;
}

.sec-footer input {
    width: 98%;
    background: #fff;
    padding: 6px;
    border-radius: 4px;
    border:aliceblue;
    color:#b5b3b3;
}