* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, 
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
    display: flex;
}

aside {
    flex-basis: 35%;
    background: #888;
}

main {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.sec-header,
.sec-footer {
    padding: 20px;
    background: #777;
}

.sec-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
} 